<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Store</title>
</head>
<body>
    <ul>
        <li>
           <a href="#">Information</a>
        </li>
        <li>
          <a href="/nutritionStore">Nutrition store</a>
        </li>
        <li>
            <a href="#">Trick center</a>
        </li>
        <li>
            <a href="#">Action history</a>
        </li>

    </ul>
    <form >
        <label for="food">Food</label>
        <select id="food">
            <option ></option>
        </select>
        <label for="drink">Drink</label>
        <select id="drink">
            <option ></option>
        </select>
    </form>

</body>
</html>