<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
    <title>My shop</title>
</head>
<body>
    <h1>My shop</h1>
    <nav>
        <a href="/only-available">Only available</a>
        <a href="/cheapest-first">Cheapest first</a>
        <a href="/contains-nike">Contains Nike</a>
        <a href="/average-stock">Average stock</a>
        <a href="/most-expensive">Most expensive available</a>
    </nav>
    <form th:action="search" method="post">
        <fieldset>
            <label>Search for: </label>
            <br>
            <input type="text" name="search" placeholder="...something like Nike" />
            <input type="submit" value="Search" id="search-button" />
        </fieldset>
    </form>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of stock</th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.getName()}"></td>
            <td th:text="${item.getDescription()}"></td>
            <td th:text="${item.getPrice()} + '$'"  ></td>
            <td th:text="${item.getQuantityOfStock()}"></td>
        </tr>
    </table>

</body>
</html>