<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
    <title>My shop</title>
</head>
<body>
    <h1>My shop</h1>
    <nav>
        <button>Only available</button>
        <button>Cheapest first</button>
        <button>Contains Nike</button>
        <button>Average stock</button>
        <button>Most expensive available</button>
    </nav>
    <form>
        <fieldset>
            <legend>Search for: </legend>
            <input type="text" placeholder="...something like Nike" />
            <button id="search-button">Search </button>
        </fieldset>
    </form>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of stock</th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.getName()}"></td>
            <td th:text="${item.getDescription()}"></td>
            <td th:text="${item.getPrice()} + '$'"  ></td>
            <td th:text="${item.getQuantityOfStock()}"></td>
        </tr>
    </table>

</body>
</html>