
<div class="form-group">
<form action="/login" method="post">
    <h2>Username</h2>
    <br>
    <input type="text" name="username" />
    <br>
    <button type="submit" class="btn btn-dark">Login</button>
</form>
</div>