body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

h1 {
    color: #69effe;
    border-bottom: #69effe 2px solid;
    font-size: 50px;
    text-transform: capitalize;
}

nav {
    margin-inline-start: 0;
}
form {
    margin: 10px 0;
}

table {
     width: 100%;
}

th {
    background-color: #69effe;
    margin: 10px 2px;
    padding: 30px;
}

td {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

a ,
button {
    background-color: #f1453d;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    margin: 20px;
    text-decoration: none;
}

fieldset {
    border: none;
}

label {
    margin-top: 20px;
    color: #f1453d;
}

input {
    width: 70%;
    height: 30px;
    font-size: 20px;
}

input:focus {
    outline-color: #f1453d;
}

#search-button {
    margin-top: 0;
}