<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignees</title>
</head>
<body >

    <form method="post" action="/todo/assignees" >
         <label>Add a new Assignee!</label>
         <input type="text" name="name" >
         <input type="email" name="email"  >
         <input type="submit" value="ADD">
    </form>

    <table>
        <tr th:each="assignee : ${assignee}">
            <td th:text="${assignee.name}"></td>
            <td th:text="${assignee.email}"></td>
            <td><a th:href="'/todo/assignees/' + ${assignee.id} + '/edit'">Edit</a></td>
            <td><a th:href="'/todo/assignees/' + ${assignee.id} + '/delete'">Delete</a></td>
        </tr>
    </table>



</body>
</html>