<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Todo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Edit Todo</h1>
<form method="post" th:action="'/todo/' + ${id} + '/edit'" th:object="${todo}">
    <label for="edit">Todo Description</label>
    <input type="text" id="edit" name="editedText" th:field="*{title}">
    <br>
    <select>
        <option th:each="assignee : ${assignees}" th:value="${assignee.name}" th:text="${assignee.name}">
        </option>
    </select>
    <br>
    <label for="urgent">Urgent</label>
    <input type="checkbox" id="urgent" name="urgent" th:field="*{urgent}">
    <br>
    <label for="done">Done</label>
    <input type="checkbox" id="done" name="done" th:field="*{done}">
    <br>
    <input type="submit" value="Submit">
    <a href="/todo/list">Cancel</a>
</form>
</body>
</html>