<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Assignee</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Edit Assignee</h1>
    <form method="post" th:action="'/todo/assignees/' + ${assignee.id} + '/edit'" th:object="${assignee}">
        <label for="name">Assignee's name: </label>
        <input type="text" id="name" name="name" th:value="${assignee.getName()}">
        <label for="email">Assignee's email: </label>
        <input type="email" id="email" name="email" th:value="${assignee.getEmail()}" >
        <input type="submit" value="Save">
    </form>
    <a href="http://localhost:8080/todo/assignees">Cancel</a>

</body>
</html>