<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"  />
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Todo list</title>
</head>
<body>
    <h1>Todos for next week: </h1>

    <a href="http://localhost:8080/todo/assignees">List of Assignees</a>
    <br>

    <a href="http://localhost:8080/todo/add">Add more Todo!</a>
    <br>

    <form method="post" action="http://localhost:8080/todo/list">
        <label>Find your todos:</label>
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>

    <table>
     <tr>
        <th>ID</th>
        <th>Action</th>
        <th>Done</th>
        <th>Urgent</th>
     </tr>
     <tr th:each="todo : ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.done}"></td>
        <td th:text="${todo.urgent}"></td>
        <td><a th:href="'/todo/' + ${todo.getId()} + '/delete'">delete</a></td>
        <td><a th:href="'/todo/' + ${todo.getId()} + '/edit'">edit</a></td>
     </tr>
    </table>

</body>
</html>